 *{
    margin: 0px;
    padding: 0px;
 }
 /* 111111111111111111111111111111111 */
 .header_bar
 {
     width: 100%;
     height: 100px;
     background-color: pink;
 }
 
 
 .image1{
    width: 100%;
    height: 800px;
    position: absolute;
    background-color: black;
 }
 .name{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
 
 }
 .name1{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 75px;
    
 }
 .name2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 75px;

 }
 .power{
    width: 25%;
    height: 100px;
    background-color:  black;
    float: left;
 }
 .power1{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 80px;
 }
 .power2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 80px;  
 }
 .speed{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
 }
 .speed1{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 120px;
 }
 .speed2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 120px;
 }
 .time{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
    
 }
 .time1{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 120px;
 }
 .time2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 120px;
 }
 /* 111111111111111111111111111111111111111111 */

 /* 222222222222222222222222222222222 */

 .header_bar_________2
 {
     margin-top: 50%;
     width: 100%;
     height: 100px;
     background-color: pink;
     position: absolute;
 }
 
 
 .image2{
    width: 100%;
    height: 800px;
    position: absolute;
    margin-top: 0%;
    background-color: black;
    margin-top: 57%;
 }
 .name_________2{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
 
 }
 .name1_________2{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 75px;
    
 }
 .name2_________2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 75px;

 }
 .power_________2{
    width: 25%;
    height: 100px;
    background-color:  black;
    float: left;
 }
 .power1_________2{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 80px;
 }
 .power2_________2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 80px;  
 }
 .speed_________2{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
 }
 .speed1_________2{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 120px;
 }
 .speed2_________2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 120px;
 }
 .time_________2{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
    
 }
 .time1_________2{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 120px;
 }
 .time2_________2{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 120px;
 }

 /* 2222222222222222222222222222222 */

 .header_bar_________3
 {
     margin-top: 110%;
     width: 100%;
     height: 100px;
     background-color: pink;
     position: absolute;
 }
 
 
 .image3{
    width: 100%;
    height: 800px;
    position: absolute;
    margin-top: 0%;
    background-color: black;
    margin-top: 117%;
 }
 .name_________3{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
 
 }
 .name1_________3{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 75px;
    
 }
 .name2_________3{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 75px;

 }
 .power_________3{
    width: 25%;
    height: 100px;
    background-color:  black;
    float: left;
 }
 .power1_________3{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 80px;
 }
 .power2_________3{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 80px;  
 }
 .speed_________3{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
 }
 .speed1_________3{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 120px;
 }
 .speed2_________3{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 120px;
 }
 .time_________3{
    width: 25%;
    height: 100px;
    background-color: black;
    float: left;
    
 }
 .time1_________3{
    font-size: large;
    font-weight: bold;
    color: goldenrod;
    font-family:  arial;
    margin-top: 30px;
    margin-left: 120px;
 }
 .time2_________3{
    font-size: medium;
    font-weight: 100;
    color: goldenrod;
    font-family:  arial;
    margin-top: 5px;
    margin-left: 120px;
 }



 